* {
    box-sizing: border-box;
}

.wrapper {
    justify-content: center;
    margin: 20px 20px 0px 20px;
}
.mat-form-field {
    width: 100%;
}
.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}
.button {
    display: flex;
    justify-content: flex-end;
}
.button button {
    margin-right: 8px;
}