* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 150px 0px;
}

.mat-form-field{
    width: 100%;
    min-width: 400px;
}

.error {
    padding: 10px;
    width: 400px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}

button button {
    margin-right: 8px;
}